<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img width="30%" height="30%" src="/images/logo-mercado-liebre.svg" alt="">
    <div>Lugar para poner barra de busqueda</div>


    <p>Compra en cuotas y sin tarjeta de credito</p>

    <ul>
     <li><a href="#">Ofertas</a></li>
     <li><a href="#">Tiendas Oficiales</a></li>
     <li><a href="#">Vender</a></li>
     <li><a href="#">Ayuda</a></li>
     </ul>
                            
                            
    <ul>
        <li><a href="#">Crea tu cuenta</a></li>
            <li><a href="#">Ingresa</a></li>
                <li><a href="#">Mis compras</a></li>
                    </ul>
                              </header>  
    <main>
        <ul>
        <li><h2>Seccion basado en tu utlima vista</h2></li>
            </ul>
            <ul >
    <img width="30%" height="30%" src="/images/img-cafetera-moulinex.jpg">
    <div>$6.770</div>
    <div>40% OFF</div>
    <div><h2 style="font-size:medium">Cafetera Moulinex</h2></div>
    </ul>


    <ul >
        <img width="30%" height="30%" src="/images/img-macbook-pro-2019.jpg">
        <div>$230.000</div>
        <div>20% OFF</div>
        <div><h2 style="font-size:medium">MacBook Pro 2019</h2></div>
    </ul>


    <ul >
<img width="30%" height="30%" src="/images/img-samsung-galaxy-s10.jpg">
<div>$70.500</div>
<div>10% OFF</div>
<div><h2 style="font-size:medium">Samsung Galaxy S10</h2></div>
    </ul>

    <ul>
        <img width="30%" height="30%" src="/images/img-tv-samsung-smart.jpg">
        <div>$23.200</div>
        <div>5% OFF</div>
        <div><h2 style="font-size:medium">SmartTv samsung 43"</h2></div>

    </ul>

    <ul><li><h2>Seccion de ofertas</h2></li></ul>
    <ul >
        <img width="30%" height="30%" src="/images/img-cafetera-moulinex.jpg">
        <div>$6.770</div>
        <div>40% OFF</div>
        <div><h2 style="font-size:medium">Cafetera Moulinex</h2></div>
        </ul>
    
    
        <ul >
            <img width="30%" height="30%" src="/images/img-macbook-pro-2019.jpg">
            <div>$230.000</div>
            <div>20% OFF</div>
            <div><h2 style="font-size:medium">MacBook Pro 2019</h2></div>
        </ul>
    
    
        <ul >
    <img width="30%" height="30%" src="/images/img-samsung-galaxy-s10.jpg">
    <div>$70.500</div>
    <div>10% OFF</div>
    <div><h2 style="font-size:medium">Samsung Galaxy S10</h2></div>
        </ul>
    
        <ul>
            <img width="30%" height="30%" src="/images/img-tv-samsung-smart.jpg">
            <div>$23.200</div>
            <div>5% OFF</div>
            <div><h2 style="font-size:medium">SmartTv samsung 43"</h2></div>
    
        </ul>
</main>
<footer>
    <ul>
        <li><h2>Paga Con tarjeta o efectivo</h2></li>
    </ul>
    <div>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</div>
        <ul><li><h2>Envio gratis desde $2.500</h2></li></ul>
        <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</div>
            <ul><li><h2>Seguridad, de principio a fin</h2></li></ul>
            <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</div>
                <ul><li><h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2></li></ul>
</footer>

</body>
</html>