<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>
<body>
    
    <header>
       <article class="fuente">
        <img width="40%" height="40%" src="/images/logo-mercado-liebre.svg" alt="">
    <div>Lugar para poner barra de busqueda<i class="fas fa-search"></i></div>


    <p style="text-align:center" class="descripciones"><i class="fas fa-store"></i>Compra en cuotas y sin tarjeta de credito<i class="fas fa-store"></i></p>

    <ul type="none">
     <li><a href="#">Ofertas</a></li>
     <li><a href="#">Tiendas Oficiales</a></li>
     <li><a href="#">Vender</a></li>
     <li><a href="#">Ayuda</a></li>
     </ul>
                            
                            
    <ul type="none">
        <li><a href="#">Crea tu cuenta<i  class="fas fa-file-invoice"></i></a></li>
            <li><a href="#">Ingresa <i class="fas fa-user"></a></i></li>
                <li ><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul> 
                    <div style="text-align: center;" class="burguer-menu">
                        <i style="background-color: #03264c;color: white;display: block;max-width: 60px;padding: 15px 0;border-radius: 8px;text-align: center;font-size: 28px; margin: auto;transition: all 450ms" class="fas fa-bars"></i>
                        </div>'
       </article>
                              </header>  
    <main>
        <article class="fuente">
        <ul type="none">
        <li style="text-align: center;"><h2 class="titulares">Seccion basado en tu utlima vista</h2></li>
            </ul>
            <ul style="text-align: center;">
    <img width="20%" height="20%" src="/images/img-cafetera-moulinex.jpg">
    <div class="precios">$6.770</div>
    <div class="descuentos">40% OFF</div>
    <div><h2 class="descripciones">Cafetera Moulinex</h2></div>
    </ul>


    <ul style="text-align: center;">
        <img width="20%" height="20%" src="/images/img-macbook-pro-2019.jpg">
        <div class="precios">$230.000</div>
        <div class="descuentos">20% OFF</div>
        <div><h2 style="font-size:medium">MacBook Pro 2019</h2></div>
    </ul>


    <ul style="text-align: center;">
<img width="20%" height="20%" src="/images/img-samsung-galaxy-s10.jpg">
<div class="precios">$70.500</div>
<div class="descuentos">10% OFF</div>
<div><h2 style="font-size:medium">Samsung Galaxy S10</h2></div>
    </ul>

    <ul style="text-align: center;">
        <img width="20%" height="20%" src="/images/img-tv-samsung-smart.jpg">
        <div class="precios">$23.200</div>
        <div class="descuentos">5% OFF</div>
        <div><h2 style="font-size:medium">SmartTv samsung 43"</h2></div>

    </ul>

    <ul type="none"><li style="text-align: center;"><h2 class="titulares">Seccion de ofertas</h2></li></ul>
    <ul style="text-align: center;">
        <img width="20%" height="20%" src="/images/img-cafetera-moulinex.jpg">
        <div class="precios">$6.770</div>
        <div class="descuentos">40% OFF</div>
        <div><h2 style="font-size:medium">Cafetera Moulinex</h2></div>
        </ul>
    
    
        <ul style="text-align: center;">
            <img width="20%" height="20%" src="/images/img-macbook-pro-2019.jpg">
            <div class="precios">$230.000</div>
            <div class="descuentos">20% OFF</div>
            <div><h2 style="font-size:medium">MacBook Pro 2019</h2></div>
        </ul>
    
    
        <ul style="text-align: center;">
    <img width="20%" height="20%" src="/images/img-samsung-galaxy-s10.jpg">
    <div class="precios">$70.500</div>
    <div class="descuentos">10% OFF</div>
    <div><h2 style="font-size:medium">Samsung Galaxy S10</h2></div>
        </ul>
    
        <ul style="text-align: center;">
            <img width="20%" height="20%" src="/images/img-tv-samsung-smart.jpg">
            <div class="precios">$23.200</div>
            <div class="descuentos">5% OFF</div>
            <div><h2 style="font-size:medium">SmartTv samsung 43"</h2></div>
    
        </ul>
    </article>
</main>
<footer>
<article class="fuente">
    <ul type="none">
        <li style="text-align: center;"><i style="color: rgba(1, 60, 255, 0.8);font-size: 2em;margin-bottom: 10px;margin-top: 10px;" class="fas fa-credit-card"></i></li>
        <li style="text-align: center;"><h2 class="descripciones">Paga Con tarjeta o efectivo</h2></li>
    </ul>


    <div class="cuerpos-texto" style="text-align:center">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</div>
        
        <ul type="none">
            <li style="text-align: center;"><i style="color: rgba(1, 60, 255, 0.8);font-size: 2em;margin-bottom: 10px;" class="fas fa-gift"></i></li>
            <li style="text-align:center"><h2 class="descripciones">Envio gratis desde $2.500</h2></li></ul>
        
        
            <div style="text-align:center" class="cuerpos-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</div>


            <ul type="none"><li style="text-align:center">
                <li style="text-align: center;"><i style="color: rgba(1, 60, 255, 0.8);font-size: 2em;margin-bottom: 10px;" class="fas fa-user-shield"></i></li>
                <h2 style="text-align: center;" class="descripciones">Seguridad, de principio a fin</h2></li></ul>
            
            
                <div class="cuerpos-texto" style="text-align:center">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</div>


                <ul type="none"><li style="text-align:center"><h2 class="descripciones">Copyright © 1999-2020 MercadoLiebre S.R.L.</h2></li></ul>
            </article>
</footer>
</body>
</html>