<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>register</title>
</head>
<body>
    <header>
        <div class="headerNavbar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="">
            <input class="barra" type="search" name="BUSCAR" id="buscar" placeholder="Buscar marcas, prodcutos... ">
        </div>
        <p style="text-align: center;"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y tarjeta de credito</p>
            <div class="contenedorNav">
                <div class="navbar1">
                    <a class="colorNav" href="#">Ofertas|</a>
                    <a class="colorNav" href="#">Tiendas Oficiales|</a>
                    <a class="colorNav" href="#">Vender|</a>
                    <a class="colorNav" href="#">Ayuda</a>
                </div>
                <div class="navbar2">
                    <a class="colorNav" href="/register">Crea tu cuenta <i class="fas fa-file-invoice"></i>|</a>
                    <a class="colorNav" href="/login">Ingresa <i class="fas fa-user-circle"></i>|</a>
                    <a class="colorNav" href="#">Mis compras <i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
        <div>
        <img class="banner" src="/images/img-home-banner.jpg" alt="">
        </div>
</header>
    <main>
        <form class="register" action="/" method="get">
           <p> <label for="Nombre"></label>
            <input type="text" placeholder="Nombre y apellido" required>
           </p>
           <p>
            <label for="usuario"></label>
            <input type="text" placeholder="Nombre de usuario" required minlength="8">
           </p>
           <p>
            <label for="e-mail"></label>
            <input type="email" placeholder="E-Mail" required>
           </p>
           <p>
            <label for="Contraseña">
                <input type="password" placeholder="Contraseña" required minlength="8">
            </label>
           </p>
           <h3><p>Fecha de nacimiento</p></h3>
           <p>
            <label for="date"></label>
            <input type="date" required>
           </p>
           <p>
            <label for="Domicilio"></label>
            <input type="text" placeholder="Domicilio" required>
           </p>
           <h3><p>Perfil de usuario</p></h3>
           <div class="profile">
            <label>
                <input type="radio" name="Comprador" value="Comprador">
                Comprador
            </label>
            <label>
                <input type="radio" name="Vendedor" value="Vendedor">
                Vendedor
            </label>
           </div>
           <h3><p>Intereses</p></h3>
           <p class="intereses">
            <label>
                <input type="checkbox" name="intereses" value="Electro">
                Electro
            </label>
            <label>
                <input type="checkbox" name="intereses" value="moda">
                Moda
            </label>
            <label>
                <input type="checkbox" name="intereses" value="hogar">
                Hogar
            </label>
            <label>
                <input type="checkbox" name="intereses" value="jugueteria">
                jugueteria
            </label>
            <label>
                <input type="checkbox" name="intereses" value="vida sana">
                Vida sana
            </label>
           </p>
           <button><input type="submit" value="Registrarme"></button>
           <button><input type="reset" value="Eliminar"></button>
        </form>
    </main>
    <footer>
        <div class="contenedorFooter">
            <div>
                <i class="fas fa-credit-card"></i>
                <h3>Paga con tu tarjeta o efectivo</h3>
                <p>Con mercado Liebre cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fas fa-gift"></i>
                <h3>Envio gratis desde 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
            <div>
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </div>
        </div>
    </footer>
</body>
</html>