
*{
    box-sizing: border-box;
}

main{
    background-color: rgb(231, 231, 231);
}
footer{
    background-color: rgb(231, 231, 231);
}

body{
    box-sizing: border-box;
}

header{
    background-color: gold;
}

.fuente{font-family: 'Roboto', sans-serif;}

.cuerpos-texto{font-size: 12px;}

.titulares{font-size: 24px;}

.barra{
    width: 50%;
    height: 30%;
    text-align: center;
    margin-top: 5%;
}

.contenedorNav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contenedorHomeNav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:10px
}

.precios{
font-size: 18px;
text-align: left;
width: 30%;
}

.icono-camion{
    color: rgb(3,175,3);
    padding: 10px;
    border: 1px solid rgb(3,175,3);
    border-radius: 50px;
}

.contenedor-img-header-logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.contenedor-descrip-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.contenedor-navbar-1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.contenedor-navbar-2{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}

.display{
    display: block;
}

.contenedorLogoBarra{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contenedorPrecios{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.descuentos{
font-size: 16px;
color: rgb(3,175,3);
margin: 10px;
}

.descripciones{font-size: 16px;
text-align: left;
color: rgb(180,180,180);}

.descripciones-header{
    font-size: 16px;
}

.main-navbar{
    display:none
}

.login{
    font-size: medium;
    color: #1259c3;
    text-decoration: underline;
}

.burguer-menu{
    background-color: #03264c;
    color: white;
    display: block;
    max-width: 60px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
    margin: auto;
    transition: all 450ms;
}

.presetcaja{
    width: 90%;
    margin: 10px;
    border-top: 1px solid #ebebeb;
    text-align: left;
    text-align: right;
}

.contenedorProducto{
    display: flex;
    flex-wrap: wrap;

}

.descripciones-footer{
    font-size: 16px;
}
/* tablet */
@media(min-width:481px){
    body{
        min-width:361px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burguer-menu{
        display: none;
    }
}
/* pc */
@media (min-width:769px){
    body{
min-width: 769px;
box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burguer-menu{
        display: none;
    }
}
/* mobile */
@media(max-width:480px){
    .descripciones{
    display:none
        }
    .main-navbar{
        display: none;
    }
    .login{
        display: none;
    }
    body{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    }